!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Peak Tracker Identity Provider
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.bg-slate-500.bg-fixed.bg-top.bg-cover
    .w-full.p-4
      = render "layouts/navigation"
      = render "layouts/flash"
      %section{class: "w-full sm:w-1/2 lg:w-1/3 bg-gray-50 rounded-xl m-auto"}
        %div{class: "bg-white rounded shadow px-4 pt-5 pb-4 sm:p-6 sm:pb-4"}
          = yield
