!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PeakTrackerAuth
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %main
      %p{class: "notice"}= notice
      %p{class: "alert"}= alert

      - if user_signed_in?
        = link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }
      - else
        = link_to "Sign in", new_user_session_path

      = yield
