%header
  %h2.text-2xl.font-bold.mb-8.text-center
    Peak Tracker

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    %main.flex.flex-col
      .mb-4
        = render "devise/shared/error_messages", resource: resource
        .mb-4
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .mb-4
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .mb-4
          = f.password_field :password_confirmation, autocomplete: "new-password"

      %footer
        .mb-4
          = f.submit "Sign up"

        %hr.mb-8.mt-8

        = render "users/shared/links"
